body{
   margin: auto;
   min-height: 100vh;
   overflow: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   box-sizing: border-box;
   background-color: rgb(24, 30, 43);
}
label{
   color: #fff;
   font: 14px system-ui, sans-serif;
}
.input-div{
   display: flex;
   justify-content: center ;
   box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.2),0 4px 10px -2px rgba(0, 0, 0, 0.2);
   flex-direction: column;
   border: none;
   background-color:  rgb(255, 255, 255, 0.2);
   transition: all 0.1s ease-in;
   margin: auto;
   margin: 0 auto;
   width: 500px;
   text-align: center;
   aspect-ratio: 1/0.7;
   border-radius: 10px;
}
.color-input {
   background-color: #ffffff00;
   color: #fff;
   padding: 20px;
   text-align: center;
   font-size: 2.5em;
   border:  none;
   outline: none;
   text-decoration-thickness: 1px;
   font-weight: bold;
}
.whatsapp{
   display: flex;
   margin:0 auto;
   color: #fff;
   font-family: sans-serif;
   align-items: center;
   width: 90%;
   justify-content: space-between;
}
.issues{
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
}
footer a{
   color: #fff;
}
@media(min-width:450px){
   .whatsapp{
      display: flex;
      margin: 50px auto;
      color: #fff;
      font-family: sans-serif;
      align-items: center;
      width: 50%;
      justify-content: space-between;
   }
}
@media (max-width: 768px) {
   .input-div {
      width: 90%;
      font-size: 16px;
   }
}